.add {
    text-align: center;
    width: 40%;
    margin: 10vh auto;
}

input {
    background-color: rgb(125, 208, 125);
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    font-weight: 600;
}

button {
    background-color: rgb(125, 208, 125);
    border-radius: 3px;
    padding: 5px;
    border: 2px solid black;
    font-weight: 800;
}

button:hover {
    background-color: black;
    color: rgb(125, 208, 125);
    cursor: pointer;
}

h3 {
    margin-top: 30px;
}

@media (max-width: 600px) {
    .add {
        width: 90%;
    }
}